src/main/mule/hello.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="ff7d77db-0ac8-4cba-9fe4-3f30244d5938" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="helloFlow" doc:id="3db75f09-3820-49e0-8fbb-c0c6ec9473ab" >
		<http:listener doc:name="Listener" doc:id="d3e1d13d-8691-452a-aec2-e0f6a513650f" config-ref="HTTP_Listener_config" path="/hello"/>
		<logger level="INFO" doc:name="Logger" doc:id="907a9165-9d00-424f-ba52-8a801b1e46cb" message="#[payload]"/>
		<ee:transform doc:name="Transform Message" doc:id="d672a117-4821-4ab0-8981-bf2dddcaebf2" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---

"HELLO!!"
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
